<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ex-1 Document</title>
</head>
<body>
  <div id="app">
    <table border="1">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Profile</th>
          <th>Myan</th>
          <th>Eng</th>
          <th>Math</th>
          <th>Total</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(stu,index) in students">
          <td>{{++index}}</td>
          <td>{{stu.name}}</td>
          <td>Female</td>
          <td>
            <img src="susu.jpeg" alt="" width="50px">
          </td>
          <td>
            <span v-if="stu.myan>=75">D</span>
            <span v-else-if="stu.myan>=40 && stu.myan<75">P</span>
            <span v-else>F</span>
          </td>
          <td>
            <span v-if="stu.eng>=75">D</span>
            <span v-else-if="stu.eng>=40 && stu.eng<75">P</span>
            <span v-else>F</span>
          </td>
          <td>
            <span v-if="stu.math>=80">D</span>
            <span v-else-if="stu.math>=40 && stu.math<80">P</span>
            <span v-else>F</span>
          </td>
          <td>
            {{stu.myan+stu.eng+stu.math}}
          </td>
          <td>
            <button v-on:click="detail(--index)">Detail</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- JS -->
  <script src="vue.min.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        students: [
          {name: 'Su Su', gender: 'Female', profile: 'susu.jpeg', myan: 80, eng: 60, math: 33},
        ]
      },
      methods:{
        detail(index){
          let mystudent = this.students[index]
          let output = `Marks of ${mystudent.name}
                        Myan => ${mystudent.myan}
                        Eng => ${mystudent.eng}
                        Math => ${mystudent.math}`
          alert(output)
        }
      }
    })

    Vue.config.devtools = true
  </script>
</body>
</html>