<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Document</title>
</head>
<body>
  <div id="app">
    {{ name }}

    <!-- Raw HTML -->
    <span v-html="message"></span>
    
    <!-- Attributes -->
    <img v-bind:src="url" alt="" width="100px">
    <a v-bind:href="link">Go Google</a>

    <!-- Conditional -->
    <span v-if="status">Now you see me!</span>

    <span v-if="mark>=80">D</span>
    <span v-else-if="mark>=40 && mark<80">Pass</span>
    <span v-else>Fail</span>

    <!-- Loops -->
    <h2>All Students</h2>
    <h5>Total Amount: {{totalAmount}}</h5>
    <ul>
      <li v-for="stud in students">
        {{stud.name}} ({{stud.gender}})
      </li>
    </ul>

    <h2>Boy Students</h2>
    <ul>
      <li v-for="stud in malestudents">
        {{stud.name}} ({{stud.gender}})
      </li>
    </ul>

    <!-- Events -->
    <button v-on:click="reverseName">Click on me</button>

    <!-- Input Box -->
    <input type="text" name="email" id="" v-model="email">
    <span>{{email}}</span>

  </div>

  <!-- JS -->
  <script src="vue.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: '<h1>Hello Vue!</h1>',
        name: 'Thet Paing Htut',
        url: 'logo.svg',
        link: 'https://google.com/',
        status: true,
        mark: 80,
        students: [
          {name:'Aung Kyaw',gender:'male', amount: 10},
          {name:'Htein Lin',gender:'male', amount: 5},
          {name:'Thazin',gender:'female', amount: 20},
        ],
        email: ''
      },
      methods:{
        reverseName(){
          this.name = this.name.split('').reverse().join('')
        }
      },
      computed:{
        malestudents(){
          // let mstudents = []
          // for(stu of this.students){
          //   if(stu.gender == 'male'){
          //     mstudents.push(stu)
          //   }
          // }

          mstudents = this.students.filter(row => row.gender=='male')
          return mstudents
        },

        totalAmount(){
          return this.students.reduce((total,row) => total+row.amount,0)
        }
      }
    })

    Vue.config.devtools = true
  </script>
</body>
</html>

<!-- OOP - object oriented programming -->